<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>principal</title>
    <!-- Styles Generales -->
    <link rel="stylesheet" href="../Bootstrap_css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Styles Especificos -->
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header class="barra-fondo">
        <div class="d-flex justify-content-center align-items-center">
            <div class="mt-4">
                <p class="fs-3 text-light" style="font-family: Arial, Helvetica, sans-serif;" id="nombreEmpresa">NOMBRE DEL NEGOCIO</p>
            </div>
        </div>
    </header>
    <section class="container-fluid">
        <div id="btn-catalogos" class="row align-items-end">
            <div id="btn-insumos" class="col-sm-12 col-md-6 my-2">
                <div class="card shadow bg-white rounded py-3">
                    <h5 class="text-center py-3">INSUMOS</h5>
                </div>
            </div>

            <div id="btn-productos" class="col-sm-12 col-md-6 my-2">
                <div class="card shadow bg-white rounded py-3">
                    <h5 class="text-center py-3">PRODUCTOS</h5>
                </div>
            </div>

            <div id="btn-provedores" class="col-sm-12 col-md-6 my-2">
                <div class="card shadow bg-white rounded py-3">
                    <h5 class="text-center py-3">PROVEEDORES</h5>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 my-2">
                <div class="card shadow bg-white rounded py-3">
                    <h5 class="text-center py-3">COMPRAS</h5>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 my-2">
                <div class="card shadow bg-white rounded py-3">
                    <h5 class="text-center py-3">REPORTES</h5>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-primario">
        <div class="w-auto h-100 d-flex justify-content-around align-items-center">
            <div id="btn-menu-principal-back">
                <img src="../img/back-arrow-white.png" width="35px" height="35px" alt="home">
            </div>
            <div id="btn-menu-principal-home">
                <img src="../img/back-home-withe.png" width="35px" height="35px" alt="home">
            </div>
            <div>
                <img src="../img/userLogin.png" width="65px" height="60px" alt="user">
            </div>
        </div>
    </footer>
    <!-- Scrips Generales -->
     <script src="../Bootstrap_js/bootstrap.bundle.min.js"></script>
     <script src="../js/jquery-3.7.1.min.js"></script>
     <!-- Scripts Especificos -->
      <script type="module" src="../js/catalogo.js"></script>
</body>
</html>