<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>principal</title>
    <!-- Styles Generales -->
    <link rel="stylesheet" href="../Bootstrap_css/bootstrap.min.css">
    <link href="../img/bootstrap-icons-1.11.3/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Styles Especificos -->
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header class="barra-fondo-responsivo">
        <div class="d-flex justify-content-center align-items-center">
            <div class="mt-4">
                <p class="fs-3 text-light" style="font-family: Arial, Helvetica, sans-serif;" id="nombreEmpresa">NOMBRE DEL NEGOCIO</p>
            </div>
        </div>
    </header>
    <section class="container-fluid">
        <div id="btn-catalogos" class="row align-items-end">
            
            <div id="btn-insumos" class="col-sm-12 col-md-6 my-2" >
                <div class="card shadow bg-white rounded py-3" style="align-items: center;">
                    <img src="../img/insumos.png" alt="" width="80">
                    <h5 class="text-center py-3">INSUMOS</h5>
                </div>
            </div>

            <div id="btn-productos" class="col-sm-12 col-md-6 my-2">
                <div class="card shadow bg-white rounded py-3" style="align-items: center;">
                    <img src="../img/productos.png" alt="" width="80">
                    <h5 class="text-center py-3">PRODUCTOS</h5>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer2">
        <div class="w-auto h-100 d-flex justify-content-around align-items-center">
            <a  href="javascript:history.back()">
                <img src="../img/back-arrow-white.png" width="35px" height="35px" alt="home">
            </a>
            <a href="./home.html" id="btn-menu-principal-home">
                <img src="../img/back-home-withe.png" width="35px" height="35px" alt="home">
            </a>
        </div>
    </footer>
    <!-- Modal Cerrar Sesion -->
    <div class="modal fade modal-cerrarSesion" id="modal-cerrarSesion" tabindex="-1" aria-labelledby="modal-cerrarSesionLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-white" style="background-color: var(--bg-principal) !important;">
                    <h5 class="modal-title">Mensaje de sistema</h5>
                </div>
                <div class="modal-body">
                    <p id="modal-msg" class="modal-msg">¿Estas seguro de cerrar sesión?</p>
                </div>
                <div class="modal-footer d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btn-cerrarSesion" type="button" class="btn" style="color: #FFFF; background-color: var(--bg-principal) !important;">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Scrips Generales -->
     <script src="../Bootstrap_js/bootstrap.bundle.min.js"></script>
     <script src="../js/jquery-3.7.1.min.js"></script>
     <!-- Scripts Especificos -->
      <script type="module" src="../js/catalogo.js"></script>
</body>
</html>