<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>principal</title>
    <!-- Styles Generales -->
    <link rel="stylesheet" href="../Bootstrap_css/bootstrap.min.css">
    <link href="../img/bootstrap-icons-1.11.3/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Styles Especificos -->
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header class="barra-fondo-responsivo">
        <div class="d-flex justify-content-center align-items-center">
            <div class="mt-4">
                <p class="fs-3 text-light nomreEmpresa" style="font-family: Arial, Helvetica, sans-serif;" id="nombreEmpresa">NOMBRE DEL NEGOCIO</p>
            </div>
        </div>
    </header>
    <section class="container-fluid">
        <div id="menu-events" class="row align-items-end btn-menu">
            <div id="btn-ventas" class="col-12 col-md-6 my-2" >
                <div class="card shadow bg-white rounded py-2" style="align-items: center;">
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <img src="../img/vender.png" alt="" width="80" class="p-1">
                        </div>
                        <div class="col-6">
                            <h5 class="text-center py-2">Vender</h5>
                            <h6 class="text-center">Comieza a capturar tu venta rápido y fácil</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div id="btn-productos" class="col-12 col-md-6 my-2">
                <div class="card shadow bg-white rounded py-2" style="align-items: center;">
                    <div class="row justify-content-center">
                        <div class="col-5">
                            <img src="../img/catalogos.png" alt="" width="80">
                        </div>
                        <div class="col-6">
                            <h5 class="text-center py-2">Productos</h5>
                            <h6 class="text-center">Administra todos tus productos</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 my-2" >
                <div id="btn-reporte" class="card shadow bg-white rounded py-2" style="align-items: center;">
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <img src="../img/reportesVentas.png" alt="" width="80">
                        </div>
                        <div class="col-6">
                            <h5 class="text-center py-2">Reporte de ventas</h5>
                            <h6 class="text-center">Consulta tus ingresos y egresos del día</h6>
                        </div>
                    </div>
                </div>
            </div>    
            
            <div class="col-12 col-md-6 my-2" >
                <div id="btn-usuarios" class="card shadow bg-white rounded py-2">
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <img src="../img/usuarios.png" alt="" width="72">
                        </div>
                        <div class="col-6">
                            <h5 class="text-center py-2">Usuarios</h5>
                            <h6 class="text-center">Administra a tus colaboradores</h6>
                        </div>
                    </div>
                </div>
            </div>          
            <div class="col-12 col-md-6 my-2" >
                <div id="btn-impresoras" class="card shadow bg-white rounded py-2" >
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <img src="../img/impresoras.png" alt="" width="70">
                        </div>
                        <div class="col-6">
                            <h5 class="text-center py-2">Impresoras</h5>
                            <h6 class="text-center">Configura tu impresora</h6>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-12 col-md-6 my-2" >
                <div id="btn-mi-perfil" class="card shadow bg-white rounded py-2">
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <img src="../img/perfil.png" alt="" width="50">
                        </div>
                        <div class="col-7">
                            <h5 class="text-center py-2">Mi perfil</h5>
                            <h6 class="text-center">Administra tus datos y configuraciones esenciales</h6>
                        </div>
                    </div>
                </div>
            </div>  
            
        </div>
    </section>
    <footer class="footer2">
        <div class="w-auto h-100 d-flex justify-content-around align-items-center">
            <!-- <a  href="../index.html">
                <img src="../img/back-arrow-white.png" width="35px" height="35px" alt="home">
            </a> -->
            <!-- <a href="./home.html" id="btn-menu-principal-home">
                <img src="../img/back-home-withe.png" width="35px" height="35px" alt="home">
            </a> -->
            <a id="btn-userLogin">
                <img src="../img/userLogin.png" width="65px" height="60px" alt="user">
            </a>
        </div>
    </footer>

    <!-- Modal Cerrar Sesion -->
    <div class="modal fade" id="modal-cerrarSesion" tabindex="-1" aria-labelledby="modal-cerrarSesionLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-btn-primario">
                    <h5 class="modal-title">Mensaje de sistema</h5>
                </div>
                <div class="modal-body">
                    <p id="modal-msg" class="modal-msg">¿Estas seguro de cerrar sesión?</p>
                </div>
                <div class="modal-footer d-flex justify-content-end">
                    <button type="button" class="bg-btn-primario rounded" data-bs-dismiss="modal">No</button>
                    <button id="btn-cerrarSesion" type="button" class="bg-btn-primario rounded" >Si</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal Preload -->
    <div class="modal fade loadSystem" id="loadSystem" tabindex="-1" aria-labelledby="loadSystem" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " style="align-items: center; align-content: center; align-self: center;">
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-2">
                        <div class="spinner-grow m-2" style="background-color: var(--text-principal) !important;"
                            role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-2">
                        <div class="spinner-grow m-2" style="background-color: var(--text-principal) !important;"
                            role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="spinner-grow m-2" style="background-color: var(--text-principal) !important;"
                            role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
    <!-- Scrips Generales -->
     <script src="../Bootstrap_js/bootstrap.bundle.min.js"></script>
     <script src="../js/jquery-3.7.1.min.js"></script>
     <!-- Scripts Especificos -->
    <script type="module" src="../js/home.js"></script>
</body>
</html>