<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi perfil</title>
    <!-- test -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Styles Generales -->
    <link rel="stylesheet" href="../Bootstrap_css/bootstrap.min.css">
    <link href="../img/bootstrap-icons-1.11.3/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/toastify.min.css">
    <!-- Styles Especificos -->
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/usuarios.css">
    <link rel="stylesheet" href="../css/generales.css">
    <script src="../js/jquery-3.7.1.min.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid h-100 loadSystem position-absolute d-none">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12 d-flex flex-column justify-content-center">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <div class="spinner-grow m-2" style="background-color: var(--text-principal) !important;"
                            role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <div class="spinner-grow m-2" style="background-color: var(--text-principal) !important;"
                            role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow m-2" style="background-color: var(--text-principal) !important;"
                            role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="barra-fondo-responsivo">
        <div class="d-flex justify-content-center align-items-center">
            <div class="mt-4">
                <p class="fs-3 text-light" style="font-family: Arial, Helvetica, sans-serif;" id="nombreEmpresa">NOMBRE
                    DEL NEGOCIO</p>
            </div>
        </div>
    </header>
    <nav class="container-fluid">
        <section id="section-agregarTurnos" class="container-fluid pb-3 mt-5">
            <div class="row" id="opcionsPagos">
                <div class="col-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Efectivo
                        </label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Debito
                        </label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Credito
                        </label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Dolares
                        </label>
                    </div>
                </div>
            </div>
        </section>
        <!-- Consultar -->
        <section id="section-consultarTurnos" class="container-fluid pb-3 d-none">
            <div class="container my-3">
                <table class="table" id="tablaTurnos" style="width: 100%;"></table>
            </div>
        </section>
    </nav>
    <footer class="footer2">
        <div class="w-auto h-100 d-flex justify-content-around align-items-center">
            <a href="javascript:history.back()">
                <img src="../img/back-arrow-white.png" width="35px" height="35px" alt="home">
            </a>
            <a href="./home.html" id="btn-menu-principal-home">
                <img src="../img/back-home-withe.png" width="35px" height="35px" alt="home">
            </a>
        </div>
    </footer>
    <!-- Scrips Generales -->
    <script src="../Bootstrap_js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/toastify-js.js"></script>
    <script src="../js/dataTables/simple-datatables.js"></script>
    <!-- Scripts Especificos -->
    <script type="module" src="../js/mediosPagos.js"></script>
    <script>
        function enDesarrollo(){
            Toastify({
                text: "Sorry.... Opción en desarrollo 😓",
                duration: 3000,
                backgroundColor: "#ec851f"
            }).showToast();
        }
        async function actualizaOpcion(id){
    console.log("opcion: ", id);
    const urlTipo = `http://127.0.0.1:8000/api/actualizaFP/${id}`;
    await $.ajax(
    {
    url : `${urlTipo}`,
    type: `GET`,
    data : null,
    })
    .done(function(data) {        
        if(data == 1){
            Toastify({
                text: "El Metodo de pago se actualizó con éxito",
                duration: 3000,
                backgroundColor: "#28b463"
            }).showToast();
        }else{
            Toastify({
                text: `Ocurrió un error! ${data}`,
                duration: 3000,
                backgroundColor: "#f7dc6f"
            }).showToast();
        }
    })
    .fail(function(error) {
        console.log("ERROR AJAX", error);
        
        Toastify({
            text: `Ocurrió un error! ${error}`,
            duration: 3000,
            backgroundColor: "#f7dc6f"
        }).showToast();
    })
    console.log("respTipoPago: ", respTurno);
    
}
    </script>
</body>

</html>