<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi perfil</title>
    <!-- test -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <!-- Styles Generales -->
    <link rel="stylesheet" href="../Bootstrap_css/bootstrap.min.css" />
    <link href="../img/bootstrap-icons-1.11.3/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/toastify.min.css" />
    <!-- Styles Especificos -->
    <link rel="stylesheet" href="../css/home.css" />
    <link rel="stylesheet" href="../css/generales.css" />
    <!-- dataTables -->
    <link rel="stylesheet" href="../css/datatables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../js/jquery-3.7.1.min.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid h-100 loadSystem position-absolute d-none">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12 d-flex flex-column justify-content-center">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <div class="spinner-grow m-2" style="background-color: var(--text-principal) !important"
                            role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <div class="spinner-grow m-2" style="background-color: var(--text-principal) !important"
                            role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow m-2" style="background-color: var(--text-principal) !important"
                            role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="barra-fondo-responsivo">
        <div class="d-flex justify-content-center align-items-center">
            <div class="mt-4">
                <p class="fs-3 text-light" style="font-family: Arial, Helvetica, sans-serif" id="nombreEmpresa">
                    NOMBRE DEL NEGOCIO
                </p>
            </div>
        </div>
    </header>
    <nav class="container-fluid">
        <div class="row justify-content-end p-2">
            <div class="col-2">
                <button class="btn" style="
              border-radius: 2rem;
              background-color: transparent;
              border: solid;
            " onclick="registrarMovimiento();">
                    <i class="bi bi-wallet2 text-color-extra" style="font-size: 1.5rem"></i>
                </button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4 text-start p-3">
                <label class="text-bold"><b>Consultar</b></label>
            </div>
            <div class="col-2 calendario"><label for="" class="p-3">8</label></div>
            <div class="col-6">
                <select class="form-control" name="" id="">
                    <option value="1">Diario</option>
                    <option value="2">Turno</option>
                    <option value="3">Semana</option>
                    <option value="4">Año</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-start p-3">
                <label for=""><b>Fecha</b></label>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <b>
                    <h1>TOTAL</h1>
                </b>
            </div>
            <div class="col-12 text-center">
                <b>
                    <h1>$ 15,000.00</h1>
                </b>
            </div>
        </div>
        <div class="row">
            <div class="col-12 row justify-content-center">
                <div class="col-5 p-0 m-0">
                    <div class="card p-0 m-0">
                        <div class="card-body">
                            <h5 class="card-title text-success text-center">
                                <b>INGRESOS</b>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted text-center">
                                Card subtitle
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-5 p-0 m-0">
                    <div class="card p-0 m-0">
                        <div class="card-body">
                            <h5 class="card-title text-danger text-center">
                                <b>EGRESOS</b>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted text-center">
                                Card subtitle
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 table-responsive mt-5">
                <table id="example" class="table-movimientos" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Movimiento</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Pago de agua</td>
                            <td>$31,800</td>
                        </tr>
                        <tr>
                            <td>Venta 1</td>
                            <td>$320,800</td>
                        </tr>
                        <tr>
                            <td>Pago de agua</td>
                            <td>$30,800</td>
                        </tr>
                </table>
            </div>
        </div>
    </nav>
    <!-- Modal -->
    <div class="modal fade" id="registrarMovimiento" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header estilo-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Registro de movimiento</h5>
            </div>
            <div class="modal-body">
              <div class="row">
                <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Nombre del movimiento</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Movimiento" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Descripción</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Descripción del movimiento">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Descripción</label>
                        <select class="form-control" name="" id="" required>
                            <option value="1">Ingreso</option>
                            <option value="2">Egreso</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Cantidad</label>
                        <input type="number" class="form-control" id="exampleInputPassword1" placeholder="0,0">
                      </div>
                      <div class="row justify-content-center pt-3">
                        <div class="col-3">
                            <button onclick="cerrarModal()" class="btn estilo-purple">Cancelar</button>
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn estilo-header">Registrar</button>
                        </div>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    <footer class="footer2">
        <div class="w-auto h-100 d-flex justify-content-around align-items-center">
            <a href="javascript:history.back()">
                <img src="../img/back-arrow-white.png" width="35px" height="35px" alt="home" />
            </a>
            <a href="./home.html" id="btn-menu-principal-home">
                <img src="../img/back-home-withe.png" width="35px" height="35px" alt="home" />
            </a>
        </div>
    </footer>
    <!-- Modal Cerrar Sesion -->
    <div class="modal fade modal-cerrarSesion" id="modal-cerrarSesion" tabindex="-1"
        aria-labelledby="modal-cerrarSesionLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-white" style="background-color: var(--bg-principal) !important">
                    <h5 class="modal-title">Mensaje de sistema</h5>
                </div>
                <div class="modal-body">
                    <p id="modal-msg" class="modal-msg">
                        ¿Estas seguro de cerrar sesión?
                    </p>
                </div>
                <div class="modal-footer d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                    <button id="btn-cerrarSesion" type="button" class="btn" style="
                color: #ffff;
                background-color: var(--bg-principal) !important;
              ">
                        Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Scrips Generales -->
    <script src="../Bootstrap_js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/toastify-js.js"></script>
    <script src="../js/dataTables/simple-datatables.js"></script>
    <!-- Scripts Especificos -->
    <script type="module" src="../js/reporte.js"></script>
    <script src="../js/datatables.min.js"></script>
    <script>    
        function registrarMovimiento(){
            $("#registrarMovimiento").modal("show");
        }
        function cerrarModal() {
            $("#registrarMovimiento").modal("hide");
        }
    </script>
</body>

</html>