<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi perfil</title>
    <!-- test -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Styles Generales -->
    <link rel="stylesheet" href="../Bootstrap_css/bootstrap.min.css">
    <link href="../img/bootstrap-icons-1.11.3/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/toastify.min.css">
    <!-- Styles Especificos -->
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/usuarios.css">
    <link rel="stylesheet" href="../css/generales.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid h-100 loadSystem position-absolute d-none">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12 d-flex flex-column justify-content-center">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <div class="spinner-grow m-2" style="background-color: var(--bg-principal) !important;"
                            role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <div class="spinner-grow m-2" style="background-color: var(--bg-principal) !important;"
                            role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow m-2" style="background-color: var(--bg-principal) !important;"
                            role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="barra-fondo-responsivo">
        <div class="d-flex justify-content-center align-items-center">
            <div class="mt-4">
                <p class="fs-3 text-light" style="font-family: Arial, Helvetica, sans-serif;" id="nombreEmpresa">NOMBRE DEL NEGOCIO</p>
            </div>
        </div>
    </header>
    <nav class="container-fluid">
        <nav class="container-fluid pt-4">
            <div class="row mb-3">
                <h5 class="card-title text-center fs-3"><strong>Ticket</strong></h5>
            </div>
        </nav>    
        <section class="mt-5">
            <div class="row justify-content-center">
                <div class="col-4">
                    <input type="checkbox"  id="encabezado" name="encabezado">
                    <label for="encabezado">Encabezado</label>
                </div>
                <div class="col-3">
                    <input type="checkbox"  id="pie" name="pie">
                    <label for="pie">Pie</label>
                </div>
            </div>
            <div class="row justify-content-center p-3">
                <div class="col-6">
                    <input type="color" class="form-control colorGlobal" value="#EEEBEB">
                </div>
            </div>
            <div class="row justify-content-center p-1">
                <div class="col-6">
                    <input type="checkbox"  id="encabezado" name="encabezado">
                    <label for="encabezado">Nombre comercial</label>
                </div>
                <div class="col-4">
                    
                    <a href="" class="text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                          </svg>
                    </a>

                    <a href="" class="text-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="row justify-content-center p-1">
                <div class="col-6">
                    <input type="checkbox"  id="encabezado" name="encabezado">
                    <label for="encabezado">Razon Social</label>
                </div>
                <div class="col-4">
                    
                    <a href="" class="text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                          </svg>
                    </a>

                    <a href="" class="text-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="row justify-content-center p-1">
                <div class="col-6">
                    <input type="checkbox"  id="encabezado" name="encabezado">
                    <label for="encabezado">RFC</label>
                </div>
                <div class="col-4">
                    
                    <a href="" class="text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                          </svg>
                    </a>

                    <a href="" class="text-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="row justify-content-center p-1">
                <div class="col-6">
                    <input type="checkbox"  id="encabezado" name="encabezado">
                    <label for="encabezado">Dirección</label>
                </div>
                <div class="col-4">
                    
                    <a href="" class="text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                          </svg>
                    </a>

                    <a href="" class="text-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                        </svg>
                    </a>
                </div>
            </div>
            
            <div class="row justify-content-center">
                <div class="col-6">
                    <input type="checkbox"  id="encabezado" name="encabezado">
                    <label for="encabezado">Teléfono</label>
                </div>
                <div class="col-4">
                    
                    <a href="" class="text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                          </svg>
                    </a>

                    <a href="" class="text-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="row container p-4 text-success">
                    <hr class="color-success">
            </div>

            <div class="row justify-content-center p-1">
                <div class="col-6">
                    <input type="checkbox"  id="encabezado" name="encabezado">
                    <label for="encabezado">Mesero</label>
                </div>
                <div class="col-4">
                    
                    <a href="" class="text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                          </svg>
                    </a>

                    <a href="" class="text-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="row justify-content-center p-1">
                <div class="col-6">
                    <input type="checkbox"  id="encabezado" name="encabezado">
                    <label for="encabezado">Mesa</label>
                </div>
                <div class="col-4">
                    
                    <a href="" class="text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                          </svg>
                    </a>

                    <a href="" class="text-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="row justify-content-center p-1">
                <div class="col-6">
                    <input type="checkbox"  id="encabezado" name="encabezado">
                    <label for="encabezado">Folio de cuenta</label>
                </div>
                <div class="col-4">
                    
                    <a href="" class="text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                          </svg>
                    </a>

                    <a href="" class="text-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="row container p-4 text-success">
                <hr class="color-success">
            </div>

            <div class="row justify-content-center p-1">
                <div class="col-6">
                    <input type="checkbox"  id="encabezado" name="encabezado">
                    <label for="encabezado">SubTotal</label>
                </div>
                <div class="col-4">
                    
                    <a href="" class="text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                          </svg>
                    </a>

                    <a href="" class="text-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="row justify-content-center p-1">
                <div class="col-6">
                    <input type="checkbox"  id="encabezado" name="encabezado">
                    <label for="encabezado">IVA</label>
                </div>
                <div class="col-4">
                    
                    <a href="" class="text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                          </svg>
                    </a>

                    <a href="" class="text-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="row justify-content-center p-1">
                <div class="col-6">
                    <input type="checkbox"  id="encabezado" name="encabezado">
                    <label for="encabezado">Total</label>
                </div>
                <div class="col-4">
                    
                    <a href="" class="text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                          </svg>
                    </a>

                    <a href="" class="text-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </section>
        
    </nav>
    <footer class="footer2">
        <div class="w-auto h-100 d-flex justify-content-around align-items-center">
            <a  href="javascript:history.back()">
                <img src="../img/back-arrow-white.png" width="35px" height="35px" alt="home">
            </a>
            <a href="./home.html" id="btn-menu-principal-home">
                <img src="../img/back-home-withe.png" width="35px" height="35px" alt="home">
            </a>
        </div>
    </footer>
    <!-- Scrips Generales -->
    <script src="../Bootstrap_js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/toastify-js.js"></script>
    <script src="../js/dataTables/simple-datatables.js"></script>
    <!-- Scripts Especificos -->
    <script type="module" src="../js/tickets.js"></script>
</body>

</html>