<!-- Modal Agregar almacen -->
<div class="modal fade" id="agregarAlmacen" tabindex="-1" aria-labelledby="agregarAlmacenModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="color: #FFFF; background-color: var(--bg-principal) !important;">
        <h1 class="modal-title">Nuevo Almacén</h1>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Nombre almacén:</label>
            <input type="text" class="form-control" id="nombreAlmacen" placeholder="Nombre del almacén" >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button id="btnSetAlmacen" type="button" class="btn" style="color: #FFFF; background-color: var(--bg-principal) !important;">Agregar</button>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="../css/generales.css">