<!-- Modal Systema -->
<div class="modal fade modalDinamico" id="modalDinamico" tabindex="-1" aria-labelledby="modalDinamicoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-white bg-btn-primario">
                <h5 id="modal-msj-title" class="modal-title">Mensaje de sistema</h5>
            </div>
            <div class="modal-body">
                <p id="modal-msg" class="text-dark modal-msg"></p>
            </div>
            <div class="justify-content-center d-flex justify-content-center text-principal">
                <button type="button" class="btn rounded-pill bg-btn-primario" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>