<!-- Modal Systema -->
<div class="modal fade" id="modalDinamico" tabindex="-1" aria-labelledby="modalDinamicoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-white" style="background-color: var(--bg-principal) !important;">
                <h5 id="modal-msj-title" class="modal-title">Mensaje de sistema</h5>
            </div>
            <div class="modal-body">
                <p id="modal-msg"></p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn" data-bs-dismiss="modal" style="color: #FFFF; background-color: var(--bg-principal) !important;">Aceptar</button>
            </div>
        </div>
    </div>
</div>