/* fonts */
@font-face {
    font-family: roboto-bold;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 400;
    font-style: bold;
 }

 @font-face {
    font-family: roboto-light;
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 100;
    font-style: normal;
 }

 .roboto-1 {
    font-family: 'roboto-bold';
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    color: var(--text-principal);
    text-align: center;
}

.roboto-2 {
    font-family: 'roboto-bold';
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #000;
}


 /* Colors */
 :root {
    /* --bg-principal: #FF6B00; */
    --bg-principal: #fff;
    --text-principal: #547dcd;
    --text-form: #024770;
    --color-fondo: #024770;
    --color-mano: #547dcd;
    --color-purple: #9d5bb5;
}

/* Colores Toastify */
/* 
    verder: #28b463
    amarillo: #f4d03f
    rojo: #c0392b

*/

/* Generales */
.loadSystem {
    z-index: 999999;
    background-color: var(--bg-principal);
}
.bg-btn-primario{
    background-color: var(--text-principal);
    color: var(--bg-principal);
}   
.bg-primario {
    background-color: var(--bg-principal);
    color: var(--text-principal);
}
.bg-primario-degradado {
    background: linear-gradient(180deg, var(--text-principal), 59%, var(--bg-principal) 100%);
}

.img-curvas-1 {
    background-image: url('../vectores/Rectangle4.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-curvas-2 {
    background-image: url('../vectores/Rectangle5.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.elipse-footer {
    background-color: var(--bg-principal);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.div-btn-app {
    background-color: var(--bg-principal) ;
    font-family: 'roboto-light';
    font-size: large;
    font-style: normal;
    color: black;
    border-style: solid black;
}
input{
    background-color: var(--bg-principal) ;
    color: black;
    border-style: solid black;
}
.div-btn-app-index {
    background-color: var(--text-form);
    font-family: 'roboto-light';
    font-size: large;
    font-style: normal;
    color: var(--bg-principal);
    padding-left: 70px;
    padding-right: 70px;
}

.form-control {
    height: 50px;
    background-color: var(--bg-principal);
    color: var(--text-form);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}

/* test table */
#tablaInsumos_filter {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#dataTable-search-input {
    width: 100%;
    box-sizing: border-box;
    font-size: 22px;
    color: var(--text-form);
}

.form-control:focus {
    border-color: var(--bg-principal);
    box-shadow: 0 0 0 .2rem var(--text-principal),;
}

.form-control, .form-select {
    border-color: var(--text-principal);
    background-color: var(--bg-principal);
}

.form-select:focus {
    border-color: var(--bg-principal);
    box-shadow: 0 0 0 .2rem var(--text-principal),;
}
.footer2{
    /* background: #343339; */
    background: var(--text-principal);
}
.btn-segunda-opcion{
    background: var(--text-principal);
}
.boton-general{
    background: var(--text-principal);
    color: var(--bg-principal);
}
.modal-new{
    background: var(--text-principal);
    color: var(--bg-principal);
}
#modal-msg{
    color: var(--text-form);
    font-weight: bold;
}
.modal-msg{
    color: var(--text-form);
    font-weight: bold;
}
.calendario{
    background-image: url('../img/calendar.svg');
    background-repeat: no-repeat;
    background-size: 2rem, 2rem;
    background-position: center;
    color: var(--color-mano);
}
.text-color-fondo{
    color: var(--color-fondo);
}
.text-color-mano{
    color: var(--color-mano);
}
.text-color-extra{
    color: var(--color-purple);
}
.estilo-header{
    background-color: var(--color-mano);
    color: var(--bg-principal);
}
.estilo-purple{
    background-color: var(--color-purple);
    color: var(--bg-principal);
}