@import url(generales.css);

/* /// insumos /// */

#tabs-insumos > li > a {
    font-size: 24px;
    color: #000;
}
#tabs-productos > li > a {
    font-size: 24px;
    color: #000;
}

.active {
    border-bottom: 3px solid black;
    background-color: var(--text-principal) !important;
    color: var(--bg-principal) !important;
}